/*
 * Container style
 */
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: #eee;
  opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #999;
  height: 11px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #999;
  width: 11px;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}
body{
    position: relative;
}
.woo_amc_open{
    width: 60px;
    height: 60px;
    z-index: 10000;
    cursor: pointer;
}
.woo_amc_open.right-top{
    position: absolute;
    right: 30px;
    top: 30px;
}
.woo_amc_open.left-top{
    position: absolute;
    left: 30px;
    top: 30px;
}
.woo_amc_open.right-top-fixed{
    position: fixed;
    right: 30px;
    top: 30px;
}
.woo_amc_open.left-top-fixed{
    position: fixed;
    left: 30px;
    top: 30px;
}
.woo_amc_open.right-bottom-fixed{
    position: fixed;
    right: 30px;
    bottom: 30px;
}
.woo_amc_open.left-bottom-fixed{
    position: fixed;
    left: 30px;
    bottom: 30px;
}
.woo_amc_open_count{
    width: 30px;
    height: 30px;
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 20px;
    line-height: 30px;
    text-align: center;
    font-size: 17px;
    overflow: hidden;
}
.woo_amc_open_active .woo_amc_open_count{
    display: block;
}
.woo_amc_open_image{
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
}
.woo_amc_open_image svg{
    width: 50px;
    max-height: 100%;
}

.woo_amc_bg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.woo_amc_bg.woo_amc_show{
    visibility: visible;
    opacity: 1;
}
.woo_amc_bg.woo_amc_show:after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.woo_amc_container_side .woo_amc_center{
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
}
.woo_amc_head{
    position: relative;
    display: flex;
    align-items: center;
    height: 55px;
}
.woo_amc_close{
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -6px;
    cursor: pointer;
    width: 15px;
    height: 15px;
}
.woo_amc_close:hover{
    opacity: 0.7;
}
.woo_amc_close svg{
    display: block;
}

.woo_amc_footer{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.woo_amc_footer:hover{
    opacity: 0.8;
}
.woo_amc_flex{
    display: flex;
    align-items: center;
}
.woo_amc_footer_w50{
    width: 50%;
}
.woo_amc_footer .woo_amc_flex{
    height: 90px;
}
.woo_amc_footer_lines{
    padding-left: 15px;
}
.woo_amc_footer_link{
    padding-right: 15px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: right;
}
.woo_amc_footer_lines .woo_amc_label, .woo_amc_footer_lines .woo_amc_value{
    display: inline-block;
}
.woo_amc_footer_lines .woo_amc_value{
    margin-left: 15px;
}
.woo_amc_container_wrap_center{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -ms-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    display: none;
    z-index: 999999;
}
.woo_amc_container_wrap_center .woo_amc_bg{
    visibility: visible;
    opacity: 1;
    z-index: 1;
    position: absolute;
}
.woo_amc_container_center{
    margin: 0 auto;
    max-width: 647px;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.woo_amc_container_center .woo_amc_container{
    position: relative;
}
.woo_amc_container_center .woo_amc_items_wrap{
    padding-bottom: 110px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.woo_amc_container_center .woo_amc_center{
    margin: 0 auto;

}
.woo_amc_container_wrap{
    position: fixed;
    top: 0px;
    bottom: 0;
    width: 0;
    overflow: hidden;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 999999;
}
.woo_amc_container_wrap_right{
    right: 0;
}
.woo_amc_container_wrap_left{
    left: 0;
}
.woo_amc_container_wrap.woo_amc_show{
    width: 380px;
}
.woo_amc_container_side{
    width: 380px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.woo_amc_items_scroll{
    position: absolute;
    left: 0;
    right: 0;
    top: 75px;
    bottom: 110px;
}
.woo_amc_container_wrap_right .ps__rail-y{
    left: 0;
}
.woo_amc_items_wrap{
    position: relative;
}
.woo_amc_item_wrap{
    position: relative;
    -webkit-transition: 0;
    -moz-transition: 0;
    -ms-transition: 0;
    -o-transition: 0;
    transition: 0;
}
.woo_amc_item_wrap+.woo_amc_item_wrap{
    margin-top: 20px;
}
.woo_amc_items_wrap_loading .woo_amc_item_wrap{
    opacity: 0.5;
}
.woo_amc_item{
    position: relative;
}
.woo_amc_item_img{
    float: left;
    width: 70px;
    display: block;
    transition: 0.3s;
}
.woo_amc_item_img:hover{
    opacity: 0.8;
}
.woo_amc_item_img img{
    max-width: 100%;
    height: auto !important;
}
.woo_amc_item_content{
    margin-left: 85px;
}
.woo_amc_item_title{
    line-height: 150%;
    padding-right: 20px;
}
.woo_amc_item_title a{
    text-decoration: none;
}
.woo_amc_item_title a:hover{
    opacity: 0.7;
}
.woo_amc_item_price_wrap, .woo_amc_item_dop{
    margin-top: 5px;
}
.woo_amc_item_price_label{
    display: inline-block;
}
.woo_amc_item_delete{
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.woo_amc_item_delete:hover{
    opacity: 0.7;
}
.woo_amc_item_delete svg{
    display: block;
    width: 15px;
    height: 15px;
}
.woo_amc_item_quanity_wrap{
    margin-top: 10px;
    font-size: 0;
}
.woo_amc_item_quanity_minus, .woo_amc_item_quanity_plus{
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: top;
    cursor: pointer;
    padding-top: 2px;
}
.woo_amc_item_quanity_minus:hover, .woo_amc_item_quanity_plus:hover{
    opacity: 0.7;
}
.woo_amc_item_quanity_minus svg, .woo_amc_item_quanity_plus svg{
    width: 15px;
    height: 15px;
    display: block;
}
input.woo_amc_item_quanity{
    margin: 0;
    padding: 0;
    width: 30px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    background: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    outline: 0;
    border: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-weight: 400;
    box-shadow: none;
    text-align: center;
}
.woo_amc_item_quanity_plus{

}
.woo_amc_item_total_price{
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 100%;
}
.woo_amc_item_price_wrap del, .woo_amc_item_price_wrap ins{
    display: inline-block;
    margin-left: 3px;
}
.woo_amc_clear{
    clear: both;
}


.woo_amc_items_loading{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    min-height: 64px;
    justify-content: center;
    align-items: center;
    z-index: 2;
    visibility: hidden;
}
.woo_amc_items_wrap_loading .woo_amc_items_loading{
    visibility: visible;
}
.woo_amc_items_wrap_loading .lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.woo_amc_items_wrap_loading .lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}
.woo_amc_items_wrap_loading .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
}
.woo_amc_items_wrap_loading .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.woo_amc_items_wrap_loading .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.woo_amc_items_wrap_loading .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.woo_amc_items_wrap_loading .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.woo_amc_items_wrap_loading .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.woo_amc_items_wrap_loading .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.woo_amc_items_wrap_loading .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.woo_amc_items_wrap_loading .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.woo_amc_items_wrap_loading .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.woo_amc_items_wrap_loading .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.woo_amc_items_wrap_loading .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.woo_amc_items_wrap_loading .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@media(max-width: 600px){
    .woo_amc_container_center{
        padding-top: 0;
        padding-bottom: 0;
    }
}
@media(max-width: 380px){
    .woo_amc_container_wrap.woo_amc_show, .woo_amc_container_side{
        width: 100%;
    }
    .woo_amc_container_center .woo_amc_items_wrap{
        padding-right: 15px;
        padding-left: 15px;
    }
}